# Урок 4. Работа с грязными данными.

### Задачи
1. Соберите все данные из папки data в один датафрэйм, имеющий следующие столбцы: колонки из самих файлов (**product_id, quantity**), а также имя пользователя (**name**), и дата этих покупок (**date**, соответствует названию папки, где лежит папка с пользователем)
2. Выясните, какой пользователь купил больше всего товаров. Если их несколько, то перечислите имена через запятую с пробелом и в алфавитном порядке.
3. Найдите топ-10 товаров по числу проданных единиц за всё время и постройте барплот. Сколько было продано единиц товара с **product_id==56**?
4. Визуализируйте продажи по дням.
5. Сколько пользователей приобрели какой-либо товар повторно (более 1 раза)? Повтором будем считать покупку товара с одинаковым **product_id**, совершенную в разные дни.

### Cбор данных в датафрейм

1. Соберите все данные из папки data в один датафрэйм, имеющий следующие столбцы: колонки из самих файлов **(product_id, quantity)**, имя пользователя **(name)**, и дату этих покупок (**date**, соответствует названию папки, где лежит папка с пользователем). Для объединения датафреймов, читаемых из файлов, можно использовать метод **pd.concat()**. В качестве ответа укажите сумму по колонке **quantity**.

In [1]:
import os # модуль, который взаимодействует с операционной системой
import pandas as pd

In [2]:
path = r'C:\Users\teply\Downloads\4_data\data'

In [3]:
os.listdir(r'C:\Users\teply\Downloads\4_data\data')

['2020-12-03',
 '2020-12-04',
 '2020-12-05',
 '2020-12-06',
 '2020-12-07',
 '2020-12-08',
 '2020-12-09']

In [4]:
# создаем пустой df для всех данных
df = pd.DataFrame()

# прочитаем все данные и добавим их общий df
for current_path, dirs, files in os.walk(path):
    for file in files:
        # пишем полный путь к файлу
        data_path = f'{current_path}\\{file}' 
        
        # считываем данные из data.csv
        temp_df = pd.read_csv(data_path)
        
        # вычленяем дату и имя из пути файла
        path_parts = current_path.split('\\')
        date = path_parts[-2]
        name = path_parts[-1]
   
        # добавляем колонки с датой и именем в df
        temp_df['date'] = date
        temp_df['name'] = name
        
        # добавляем данные в главный df
        df = pd.concat((df, temp_df))

In [5]:
df

    Unnamed: 0  product_id  quantity        date              name
0            0          47         1  2020-12-03    Alexey_Smirnov
1            1          57         1  2020-12-03    Alexey_Smirnov
2            2          14         2  2020-12-03    Alexey_Smirnov
3            3          52         1  2020-12-03    Alexey_Smirnov
4            4           1         4  2020-12-03    Alexey_Smirnov
..         ...         ...       ...         ...               ...
1            1          66         4  2020-12-09  Rostislav_Petrov
2            2          39         2  2020-12-09  Rostislav_Petrov
0            0          82         4  2020-12-09    Vasiliy_Ivanov
1            1          74         2  2020-12-09    Vasiliy_Ivanov
2            2          54         3  2020-12-09    Vasiliy_Ivanov

[161 rows x 5 columns]

In [6]:
# избавляемся от ненужной колонки с индексом
df.drop(columns =['Unnamed: 0'], inplace=True)

    product_id  quantity        date              name
0           47         1  2020-12-03    Alexey_Smirnov
1           57         1  2020-12-03    Alexey_Smirnov
2           14         2  2020-12-03    Alexey_Smirnov
3           52         1  2020-12-03    Alexey_Smirnov
4            1         4  2020-12-03    Alexey_Smirnov
..         ...       ...         ...               ...
1           66         4  2020-12-09  Rostislav_Petrov
2           39         2  2020-12-09  Rostislav_Petrov
0           82         4  2020-12-09    Vasiliy_Ivanov
1           74         2  2020-12-09    Vasiliy_Ivanov
2           54         3  2020-12-09    Vasiliy_Ivanov

[161 rows x 4 columns]

In [8]:
# исправляем нумерацию индексов
df.reset_index(drop=True, inplace=True)

In [9]:
df

     product_id  quantity        date              name
0            47         1  2020-12-03    Alexey_Smirnov
1            57         1  2020-12-03    Alexey_Smirnov
2            14         2  2020-12-03    Alexey_Smirnov
3            52         1  2020-12-03    Alexey_Smirnov
4             1         4  2020-12-03    Alexey_Smirnov
..          ...       ...         ...               ...
156          66         4  2020-12-09  Rostislav_Petrov
157          39         2  2020-12-09  Rostislav_Petrov
158          82         4  2020-12-09    Vasiliy_Ivanov
159          74         2  2020-12-09    Vasiliy_Ivanov
160          54         3  2020-12-09    Vasiliy_Ivanov

[161 rows x 4 columns]

Ответ на задание:

In [10]:
df.quantity.sum()

480

### Топ клиент по числу покупок

2. Выясните, какой пользователь купил больше всего товаров. Если их несколько, то перечислите имена через запятую с пробелом и в алфавитном порядке.